*{
    margin: 0px;
}

body{
    margin: 0px;
    width: 100%;
    background:url(./img/background) no-repeat center center fixed;
    background-size:cover;
    height: 80vh;
}

.loader{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    display: none;
}

/* .header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

} */

/* .heading h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 20px 0px;
    color: #fff;
} */

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 60px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
}

.weather-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    padding: 0px 20px;
    flex-wrap: wrap;
}

.weather-icon{
    max-width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 70px;
    font-weight: 500;
}

.city{
    font-size: 27px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.weather h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    /* width: 40px; */
    max-width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.unit{
    font-size: 14px;
}
/* .input-container{
    width: 500px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
} */

/* .result{
    padding: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 100px; 
     max-width: 200px;
} */


/* .result-head{
    width: 100%;
    display: flex;
    justify-content: start;
    color: #fff;
    font-size: 20px;
    font-style: italic;
    margin: 20px 0px;
} */

 svg{
    width: 50px;
    height: 50px;
    display:inline-block;
}  

.locate{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 80px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.dashed-line{
    border: 1px dashed #464646;
    margin-top: 20px;
}

.other-details{
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    font-family: sans-serif;
}
.other-details p{
    margin: 0px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:500px) {
    .weather{
        width: 100%;
        margin: 0px auto;
    }
    .weather h1{
        font-size: 50px;
    }
    .weather h2{
        font-size: 25px;
    }
    .details{
        padding: 0px;
    }
    .card{
        margin: 30px auto 0;
    }
}
  
 
